manifest {
    mainScript = 'AF_cache.nf'
}

executor {
    name = "local"
    queueSize = 32
    cpus = 16
}

executor {
    name = "slurm"
    queueSize = 100
}

env {
    PYTHONPATH = "${AF_CACHE}:${PYTHONPATH}"
}

// JOB PARAMETERS
params {
    no_file = "$AF_CACHE/pipeline/common/.NO_FILE"
    pair_list  = no_file
    af_cache_dir = "$AF_CACHE" // path the the git repo cloning directory
    output_dir = 'outputs/'
    af3 = false
    test = false

    // MMseqs2 job parameters
    mmseqs_n_gpu = 1
    mmseqs_max_cpus = 8
    mmseqs_bin = 'mmseqs'
    mmseqs_db = "$AF_CACHE/database/"           // path to colabfold dbs. If installation was done as on README, no need to change anything
    mmseqs_use_env = true                       // whether the environmental sequences DB should also be searched with MMseqs2

    // general AF parameters
    af_n_gpu = 1

    // AF2 parameters
    af2_flagfile = "$AF_CACHE/flags/af2.flag"    // flagfile with default AF2.3 inference parameters
    af2_data_dir = "$AF_CACHE/alphafold_data"

    skip_templates = false
    template_mmcif_dir = "$AF_CACHE/database/pdb_mmcif/mmcif_files"
    obsolete_pdbs_path = "$AF_CACHE/database/pdb_mmcif/obsolete.dat"
    pdb_seqres_database_path = "$AF_CACHE/database/pdb_seqres/pdb_seqres.txt"

    // AF3 parameters
    af3_flagfile = "$AF_CACHE/flags/af3/af3.flag"
    af3_model_dir = "/path/to/af3/parameters"
}

// CONTAINERS/CONDA CONFIG
profiles {
    standard {
        docker.enabled = true
        docker.runOptions = "--gpus all"
    }

    apptainer {
        apptainer.enabled = true
        apptainer.runOptions = "--nv"
    }

    conda {
        conda.enabled = true
        conda.useMamba = false
        conda.cacheDir = "$AF_CACHE/conda"
        conda.createTimeout = '1 h'
    }
}

// execution settings
process {
    withName:'mmseqs_align' {
        executor = 'slurm'
        clusterOptions = "--account xxx-yyy-zzz --gpus $params.mmseqs_n_gpu --time 12:00:00"
    }

    withName:'run_af2_jobs|run_af3_jobs' {
        executor = 'slurm'
        clusterOptions = "--account xxx-yyy-zzz --gpus $params.af_n_gpu --time 12:00:00"
    }

    withName:'ln_fasta|split_fasta|collect_pickles|collect_jsons' {
        executor = 'local'
    }

    withName:'convert_alignments_af2|convert_alignments_af3|parse_features_af2|parse_features_af3|format_jobs_af2|format_jobs_af3|setup_mmseqs2_dbs|get_af2_params' {
        executor = 'local'
    }

    // AF2 container/conda settings
    withName:'split_fasta|mmseqs_align|parse_features_af2|format_jobs_af2|format_jobs_af3|run_af2_jobs|convert_alignments_af2|convert_alignments_af3|setup_mmseqs2_dbs|get_af2_params' {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }

    // AF3 container/conda settings
    withName:"run_af3_jobs|parse_features_af3" {
        container = 'docker://kosinskilab/alphafold3'           // maintained by Kosinski lab
        conda = 'environment_af3.yaml'
    }
}
