
executor{
    name = "slurm"
    queueSize = 100
}

executor{
    name = "local"
    queueSize = 32
    cpus = 8
}

env {
    PYTHONPATH = "${AF_CACHE}:${PYTHONPATH}"
}

params {
    // JOB PARAMETERS
    file_list  = ''
    af_cache_dir = "$AF_CACHE" // path the the git repo cloning directory
    output_dir = 'outputs/'
    test = false

    // SCHEDULER PARAMETERS
    // MMseqs2 job parameters
    mmseqs_executor = 'slurm'
    mmseqs_executor_flags = '--account berzelius-2026-12 --gpus 1 --time 2:00:00 --reservation=devel'
    n_gpu = 1 // set to 0 to run CPU version of MMseqs2
    max_cpus = 64
    n_cpus_per_gpu = 8

    // AF job parameters
    af_executor = 'slurm'
    af_executor_flags = '--account berzelius-2026-12 --gpus 1 --time 12:00:00'

    // smaller jobs (eature parsing, etc.). Usually on local CPUs
    other_executor = 'local'
    other_executor_flags = ''

    // TOOL PARAMETERS
    // mmseqs2 parameters
    mmseqs_db = "$AF_CACHE/database/"                             // path to colabfold dbs. If installation was done as on README, no need to change anything
    mmseqs_bin = "$AF_CACHE/mmseqs/bin/mmseqs"                    // path to mmseqs binary. Should be here if installation instructions were followed
    use_env = true                                                // whether the environmental sequences DB should also be searched with MMseqs2

    // af2 parameters
    af2_flagfile = "$AF_CACHE/flags/af2.flag"    // flagfile with default AF2.3 inference parameters
    af2_data_dir = '/proj/beyondfold/apps/alphafold_data'
    skip_templates = false
    template_mmcif_dir = "$AF_CACHE/database/pdb_mmcif/mmcif_files"
    obsolete_pdbs_path = "$AF_CACHE/database/pdb_mmcif/obsolete.dat"
    pdb_seqres_database_path = "$AF_CACHE/database/pdb_seqres/pdb_seqres.txt"

    // af3 parameters
    af3_dir = ''
    af3_flagfile = "$AF_CACHE/flags/af3/multimer.flag"
    af3_db_flagfile = "$AF_CACHE/flags/af3/databases.flag"
    af3_parse_flagfile = "$AF_CACHE/flags/af3/parse_features.flag"
}

// CONTAINERS/CONDA CONFIG
// if you want to use Docker instead of apptainer: set apptainer -> enabled = false, docker -> enabled = true
// if you want to change the path where the apptainer .sif image is cached the first time it's pulled set the ennvar `NXF_APPTAINER_CACHEDIR`
apptainer {
    enabled = true
    runOptions = "--nv"
}

docker {
    enabled = false
    runOptions = "--gpus all"
}

conda {
    enabled = false
    useMamba = true
    cacheDir = "$AF_CACHE/conda"
}

process {
    withName:split_fasta {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }

    withName:mmseqs_align {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }

    withName:parse_features {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }
    
    withName:format_af_jobs {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }
    
    withName:run_af2_jobs {
        container = 'docker://clami66/af_cache:test'
        conda = 'environment.yaml'
    }
    
    withName:run_af3_jobs {
        container = 'docker://alphafold3' // need to provide own AF3 docker image
    }
}
