executor{
    name = "slurm"
    queueSize = 100
}

executor{
    name = "local"
    queueSize = 32
    cpus = 8
}

params {
    // job parameters
    file_list  = ''
    af_cache_dir = '$AF_CACHE' // path the the git repo cloning directory
    conda_env = 'AF_cache'
    output_dir = 'outputs/'
    test = false

    // scheduler and resources parameters
    //   MMseqs2 job parameters
    mmseqs_executor = 'slurm'
    mmseqs_executor_flags = '--account berzelius-2026-12 --gpus 1 --time 12:00:00'
    n_gpu = 1
    max_cpus = 64
    n_cpus_per_gpu = 8

    //   AF job parameters
    af_executor = 'slurm'
    af_executor_flags = '--account berzelius-2026-12 --gpus 1 --time 12:00:00'

    // executes smaller tasks such as feature parsing, etc. Usually on local CPUs
    other_executor = 'local'
    other_executor_flags = ''

    // mmseqs2 parameters
    mmseqs_db = '$AF_CACHE/database/'           // path to colabfold dbs. If installation was done as on README, no need to change anything
    mmseqs_bin = '$AF_CACHE/mmseqs/bin/mmseqs'  // path to mmseqs binary. Should be here if installation instructions were followed
    use_env = true                              // whether the environmental sequences DB should also be searched with MMseqs2

    // af2 parameters
    af_flagfile = '$AF_CACHE/flags/multimer.flag'    // flagfile with default AF2.3 inference parameters
    db_flagfile = '$AF_CACHE/flags/databases.flag'   // flagfile with DB paths for AF2.3. Might have to be adjusted to point to DB location

    // af3 parameters
    af3_conda_env = ''
    af3_dir = ''
    af3_flagfile = '$AF_CACHE/flags/af3/multimer.flag'
    af3_db_flagfile = '$AF_CACHE/flags/af3/databases.flag'
    af3_parse_flagfile = '$AF_CACHE/flags/af3/parse_features.flag'
}
